@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cabecera_principal{
    background: #E5E1DF;
    width: 100%;
}

.icono_principal{
    width: 120px;
    height: 50px;
}

.navegacion_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_principal{
    color: #706E6D;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
}

.menu_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_principal li{
    list-style: none;
}

.menu_principal li a{
    color: #706E6D;
    text-decoration: none;
    padding: 20px;
}

@media(max-width:760px){
    .navegacion_principal{
        flex-direction: column;
    }
}