@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
}

.cabecera_principal{
    background: #12203E;
    width: 100%;
}

.icono_principal{
    width: 120px;
    height: 50px;
}

.navegacion_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_principal{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
}

.menu_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_principal li{
    list-style: none;
}

.menu_principal li a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
}
.menu_principal li a:hover{
    display: block;
    background: #555;
    color: #E5E1DF;
    transition: all 0.5s;
}
/*Estilos para la caja de imagenes*/
.container{
    margin-left: 20px;
}
.card_images{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
/*Estilos para el contenido*/
section h1,h3,p, a{
    padding: 15px;
}
.listas_tecnicas{
    background: #12203E;
    padding: 15px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-items: center;
    color: #ffff;
}
.card_images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
}
.card_images_container{
    background: #e5e3e3;
    border-radius: 20px;
}
@media(max-width:760px){
    .navegacion_principal{
        flex-direction: column;
    }
    .card_images{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    .listas_tecnicas{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    .card_images{
        grid-template-columns: repeat(1,1fr);
    }
}